@page "/DepthFrom2D"

<div class="container">
    <h3>2D to 2D+Z</h3>
    <p>
        This demonstrates the use of Transformers.js and various depth-estimation
        models for depth estimation.
    </p>
    <p>
        <a target="_blank" href="https://github.com/LostBeard/SpawnDev.BlazorJS.TransformersJS/blob/main/SpawnDev.BlazorJS.TransformersJS.Demo/Pages/DepthFrom2DTest.razor">Page source</a>
    </p>
    <div>
        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Normal" JustifyContent="JustifyContent.Left" Gap="0.5rem">
            <RadzenLabel Text="Select an ONNX Depth Estimation Model" Component="DropDownBindValue" />
            <RadzenDropDown @bind-Value=@SelectedModel Data=@Models Style="width: 100%; max-width: 400px;" Name="DropDownBindValue" />
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Normal" JustifyContent="JustifyContent.Left" Gap="0.5rem" Style="padding: 1rem 0;">
            <RadzenCheckBox @bind-Value=@UseWebGPU Name="WebGPUCheckBox" />
            <RadzenLabel Text="WebGPU" Component="WebGPUCheckBox" class="rz-ms-2" />
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Normal" JustifyContent="JustifyContent.Left" Gap="0.5rem" Style="padding: 1rem 0;">
            <input @ref=fileInputRef accept="image/*" type="file" disabled="@(busy || !beenInit)" style="width: 100%;" />
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Normal" JustifyContent="JustifyContent.Left" Gap="0.5rem" Style="padding: 1rem 0;">
            <button @onclick="RunIt" disabled="@(busy || !beenInit || File == null)">Create 2D+Z Image</button>
        </RadzenStack>
        <div style="padding: 1rem 0;">
            <button style="margin: 2px;" @onclick="Download2DZImage" disabled="@(busy || !beenInit || File == null || string.IsNullOrEmpty(resultObjectUrl))">Download 2D+Z: @(outputFileName)</button><br/>
            <button style="margin: 2px;" @onclick="DownloadDepthmap" disabled="@(busy || !beenInit || File == null || string.IsNullOrEmpty(depthObjectUrl))">Download Depthmap: @(depthFileName)</button>
        </div>
    </div>
    <div style="padding: 0.5rem 0; max-width: 600px;">
        <ModelLoadView ModelProgresses="@ModelProgresses" />
    </div>
    <div style="padding: 0.5rem 0;">
        <img width="480" src="@fileObjectUrl" style="min-width: 100px; min-height: 100px; border: 1px solid black; @(string.IsNullOrEmpty(fileObjectUrl) || !string.IsNullOrEmpty(resultObjectUrl) ? "display: none;" : "")">
        <img width="960" src="@resultObjectUrl" style="min-width: 100px; min-height: 100px; border: 1px solid black; @(string.IsNullOrEmpty(resultObjectUrl) ? "display: none;" : "")">
    </div>
    <div style="padding: 0.5rem 0;">
        @((MarkupString)logMessage)
    </div>
</div>

